<div class="contents row">
  <%= form_tag('/tweets', method: :post) do %>
    <h3>
      Let's Post
    </h3>
    <div class="container">
    <textarea placeholder="" name="text" cols="30" rows="10" class="box2"></textarea>
    <input type="submit" value="SENT" class="btn-gradient-radius">
    </div>
  <% end %>
</div>

